<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table>
        <!--机床查询&结果显示行-->
        <tr>
            <td>
                <h1>机床查询</h1>
                <form action="query" method="post" id="machineToolQueryFrom" class="queryFrom" hidden="1">
                {% csrf_token %}
                    <table id="machineToolQueryTable" class="queryTable">
                        {% for param, ref_val in machine_tool %}
                            <tr class="searchRow">
                                <td><em>{{ param }}</em></td>
                                <td><input type="search" name={{ param }}/></td>
                                <td>
                                    <ul class="refUl" hidden="1">
                                        {% for e_r in ref_val %}
                                            <li><input type="checkbox" value={{ e_r }}/>{{ e_r }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <input type="submit" name="machine_tool_query_submit" value="机床查询"/>
                            </tr>
                    </table>
                </form>
            </td>
        {% if machine_tool_query_result %}
            <td>

            </td>
        {% endif %}
        </tr>
        <!--机床查询&结果显示行-->
        <tr>
            <td>
                <h1>刀具查询</h1>
                <form action="query" method="post" id="cutterQueryFrom" class="queryFrom" hidden="1">
                {% csrf_token %}
                    <table id="cutterQueryTable">
                        {% for param, ref_val in cutter %}
                            <tr class="searchRow">
                                <td><em>{{ param }}</em></td>
                                <td><input type="search" name={{ param }}/></td>
                                <td>
                                    <ul class="refUl" hidden="1">
                                        {% for e_r in ref_val %}
                                            <li><input type="checkbox" value={{ e_r }}/>{{ e_r }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <input type="submit" name="cutter_query_submit" value="刀具查询"/>
                            </tr>
                    </table>
                </form>
            </td>
        {% if cutter_query_result %}
            <td>

            </td>
        {% endif %}
        </tr>
    </table>
</body>
    <script src={% static 'jquery-1.12.2.js' %}></script>
    <script>
        $(function() {
            //
            $('h1').on('click', function(e) {
                $(e.target).siblings('form').removeAttr('hidden');
            });
            var $curRow = NaN;
            // 使用事件委托 委托给获得焦点的input元素的父级元素
            $('.searchRow').on('click', function (e) {
                $curTar = $(e.currentTarget);
                $tar = $(e.target);
                // another search; hide, show
                if (!$curTar.is($curRow)) {
                    if ($curRow) {
                        $curRow.children(':has("ul")').children().attr('hidden', 1);
                    }
                    if ($tar.attr('type') == 'search') {
                        $tar.parent().parent().find('ul').removeAttr('hidden');
                    }
                    $curRow = $curTar;
                }
            });
            // 添加refUl的监听事件 事件委托 动态获得checkbox中的选择结果
            $('.refUl').on('change', function (e) {
                var $curTar = $(e.currentTarget);  // 发生change事件的refUl
                var $selectedLi = $curTar.children().children(':checked');
                var selectedLiText = '';
                $selectedLi.each(function () {
                    selectedLiText += $(this).attr('value');
                });
                $curTar.parent().parent().children().find('input[type="search"]').attr('value', selectedLiText);
            })
        })
    </script>
</html>